* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: orangered;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 22px;
    column-gap: 22px;
    justify-content: space-between;
    margin: 20px;
}

img {
    height: 225px;
    width: 325px;
}

.card-videos {
    border: 1px solid black;
    align-items: center;
    text-align: center;
    height: 250px;
    width: 325px;
    padding-bottom: 5px;
}

footer {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: orangered;
    justify-content: center;
    padding: 10px;
}

.box-video {

}

.box-video video {
    width: 720px; 
    height:480px;
}

.video-main {
    display: flex;
    justify-content: center;
}


@media screen and (min-device-width: 320px) and (max-device-width: 480px){/* celulares */
    
    main {
        grid-template-columns: 1fr;
        width: 100%; 
    }

    .box-video video {
        width: 35%;
        height: 35%;
        margin-top: 150px;
    }

    .video-main .box-video {
        display: flex;
        justify-content: center;
    }

    footer {
        position: fixed;
    }

    header {
        position: fixed;
        top: 0;
    }
}
